<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting type="lsep" label="32800" />
    <setting id="rpc_host" type="text" label="32801" default="localhost" />
    <setting id="rpc_port" type="number" label="32802" default="9091" />
    <setting id="rpc_user" type="text" label="32803" default="" />
    <setting id="rpc_password" type="text" option="hidden" label="32804" default="" />
    <setting id="action_on_playback" type="enum" label="32805" lvalues="32806|32807|32808" />
    <setting id="seconds_playback_finished" type="slider" label="32809" range="1,60" default="1" option="int" />
    <setting id="seeding_torrents" type="bool" label="32810" default="true" />
    <setting id="show_notifications" type="bool" label="32811" default="false" />	
</settings>
